html, body {
  background-color: grey;
  font-family: arial, serif, times new roman;
  font-size: 20px;
  color: white;
}

  p{
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    width: 75%;
    text-align: left;
    margin: 30px auto;

  }

  h1 {
    text-align: center;
    font-size: 50px;
    color: #FC10F1;
    margin-bottom: -30px;


  }
  h2 {
    text-align: center;
    color: white;
  }

  h3 {
    text-align: center;
    font-size: 50px;
    color: #74E626

  }
  h5 {
    text-align: left;
    font-size: 25px;
    color: #9B56B6
  }
  a {
    color: #16E1F6;
    text-decoration: none;
    margin: 0 auto;
  }
  a:hover {
    color: pink;
  }


  #student-number {
    color: #16E1F6;
  }

  .main-details {
    padding: 25px 25px;
background-color: black;
margin-top: 15px;
  }
  .main-details img {
    width: 25%;
    border: lightpink solid 3px;
    float:left;

  }

  .main-details h2 {
    text-align: center;
  }

.main-area{
  padding: 10px 40px;
  background-color: black;

}
  #container {
    width: 90%;
    max-width: 800px;
    background-color: black;
    margin: 50px auto;
    padding: 30px;
  }

.details {
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

}
.references {
  list-style-type: none;
}

  section{
    border-top: 2px solid yellow;
    margin-top: 70px;
  }

  section: first-child {
    border-top: 0 solid yellow;
  }

  }
  section: last-child {
    padding: 20px 0px 25px;
  }

  .main_area img {
    border: yellow solid 2px;
    width: 90%;
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  }
/* add section content div tag into html */
